<div id="navbar" class="d-flex justify-content-center role-nav">
	<a href="/">
		<div id="logo">
			<%= image_tag 'logo.png', style: 'height: 100%;' %>
		</div>
	</a>
</div>

<div class="container-fluid main-content">
	<h2>Sign up</h2>

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "w-25 mx-auto"}) do |f| %>
	<%= render "devise/shared/error_messages", resource: resource %>

	<div class="form-group">
		<div class="field">
			<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
		</div>
	</div>

	<div class="form-group my-4">
		<div class="field">
			<% if @minimum_password_length %>
			<% @password_string = "Password (" + @minimum_password_length.to_s + " characters minimum)" %>
			<% end %>
			<%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: @password_string %>
		</div>
	</div>

	<div class="form-group">
		<div class="field">
			<%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Password Confirmation" %>
		</div>
	</div>

	<div class="actions my-4">
		<button type="submit" class="btn btn-primary">Sign Up</button>
	</div>
	<% end %>

	<p>Already have an account? <%= render "devise/shared/links" %></p>
</div>