<h1>Aka tadan</h1>


<h1>Confirmation</h1>

<%= form_with scope: :carpark, model: @carpark, local: true do |form| %>

  <p> Apply for season parking at <%= @carpark.location %> </p>

  <%= form.collection_select :lot_id, @lots, :id, :lotNumber %>

  <p> Register?
  </p>
  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= form_for @carpark, method: :delete do |f| %>

<%= f.collection_select :lot_ids, @usedlots, :id, :lotNumber %>
  <p> Delete?
  </p>
  <p>
    <%= f.submit %>
  </p>
  <% end %>

<%= link_to 'Back', carparks_path %>