<div class ="row mt-4">
	<div class="col-12 text-center ">
<h1>Welcome to shinra carpark</h1>
	</div>
</div>

<div class="row">
	<div class="col-12 text-right ">
		<h3><%= Date.today %></h3>
	</div>
</div>
<div class ="row">
	<div class="col-4 text-center ">
<div><%= link_to 'Add New carpark', new_carpark_path %></div>
</div>
	<div class="col-4 text-right my-auto	">
		<p>Find carpark by region: </p>
</div>
	<div class="col-4 text-center classname border">
		<% @regions.each do |region| %>

		<div><%= link_to region.regionname, region_path(region) %></div>
		<% end %>
</div>
</div>





<div class="row">
<br/>
  <% @carparks.each do |carpark| %>
  		<div class="col-3 border">
      <div>Carpark name: <%= carpark.location %></div>
      <div>Region: <%= carpark.region.regionname %></div>
      <div><%= link_to 'Show', carpark_path(carpark) %></div>


      <% if carpark.totallots - carpark.reservedlots == 0 %>
      	<div>	No more season parking lots. Try again another time </div>
      	 <div class="col-3">
      	<div><%= link_to 'Remove season parking', edit_carpark_path(carpark) %></div>
      	</div>

      <% elsif carpark.reservedlots == 0 %>
      	<div><%= link_to 'Apply for season parking', edit_carpark_path(carpark) %></div>

      <% else %>

      	<div><%= link_to 'Apply for season parking', edit_carpark_path(carpark) %></div>



      	<% end %>
      	<br/>
      	<br/>
      	</div>
  <% end %>

  </div>