<%= form_with scope: :carpark, url: carparks_path, local: true do |form| %>
	<br>
	<% if @carpark.errors.any? %>
    <div id="error_explanation">
      <h5 class="text-danger">
        <%= pluralize(@carpark.errors.count, "error") %> occurred:
      </h5>
      <ul>
        <% @carpark.errors.full_messages.each do |msg| %>
          <li class="text-danger"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
	<%= form.collection_select :region_id, @regions, :id, :regionname %>
  <p>
    <%= form.label :location %><br>
    <%= form.text_field :location %>
  </p>

  <p>
    <%= form.label :totallots %><br>
    <%= form.text_area :totallots %>
  </p>

  <p>
    <%= form.label :photo_url %><br>
    <%= form.text_area :photo_url %>
  </p>


  <p>
    <%= form.submit %>
    <%= link_to 'Back', carparks_path %>
  </p>
<% end %>