<div class="row mt-5 mb-5">
	<div class = "col-12 text-center">
		  <h1>Location: <%= @carpark.location %></h1>

	</div>

</div>


<div class="row">
	<div class = "col-12 text-center">


  <img src=<%= @carpark.photo_url %>   width="50%" height="100%" alt="Carpark image" />
	</div>

</div>


<div class="row mt-5">
	<div class = "col-6 text-center ">
  <strong>Lots taken:</strong>
  <%= @carpark.reservedlots %>
	</div>
		<div class = "col-6 text-center ">
<strong>Lots remaining:</strong>
  <%= @carpark.totallots - @carpark.reservedlots %>
	</div>
</div>


<p>

</p>

<div class=" row">
 <% @carpark.lots.each do |lot| %>

      <div class="col-4 border text-center"><%= lot.lotNumber %><br/>
      <% if lot.taken %>
      	 Taken by <%= lot.vehicle.license_plate %></div>
      <% else %>
      	Not Taken</div>
      	<% end %>
<% end %>
</div>


<div class="row">
	<div class = "col-12 text-center">
      <% if @carpark.totallots - @carpark.reservedlots == 0 %>
      	<div>	No more season parking lots. Try again another time </div>
      	 <div class="col-3">

      		 	<%= link_to 'Apply season parking', edit_carpark_path(@carpark), class: "btn btn-primary"%>
      	</div>

      <% elsif @carpark.reservedlots == 0 %>
      		<div class="">
      	      		 	<%= link_to 'Apply season parking', edit_carpark_path(@carpark), class: "btn btn-primary"%>

      <% else %>




      <%= link_to 'Apply/Remove season parking', edit_carpark_path(@carpark), class: "btn btn-primary"%>

      	<% end %>
     </div>
</div>
</div>
<div class= "row">

<div class = "col-6 text-center"><%= link_to 'View lot', lots_path, class: "btn btn-info" %></div>
<div class = "col-6 text-center"><%= link_to 'New lot', new_lot_path, class: "btn btn-info" %></div>
</div>
<div class = "row">
	<div class = " col-12 text-center">
<%= link_to 'Back', carparks_path , class: "btn btn-secondary"%>
</div>
</div>