<div id="navbar" class="d-flex justify-content-center role-nav">
	<a href="/">
		<div id="logo">
			<%= image_tag 'logo.png', style: 'height: 100%;' %>
		</div>
	</a>
</div>

<div class="container-fluid main-content">
	<h2>Log in</h2>

	<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "w-25 mx-auto"}) do |f| %>
	<div class="form-group">
		<div class="field">
			<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
		</div>
	</div>

	<div class="form-group my-4">
		<div class="field">
			<%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
		</div>
	</div>

	<% if devise_mapping.rememberable? %>
	<div class="field">
		<%= f.check_box :remember_me %>
		<%= f.label :remember_me %>
	</div>
	<% end %>

	<div class="actions my-4">
		<button type="submit" class="btn btn-primary">Log In</button>
	</div>
	<% end %>

	<p>Don't have an account? <%= render "devise/shared/links" %></p>
</div>