<h2>All vehicles</h2>
<%= link_to 'New Vehicle', new_vehicle_path %>
<br>
<table>
	<thead>
		<tr>
			<th>License Plate</th>
			<th>Vehicle Model</th>
			<th>Edit</th>
			<th>Delete</th>
			<th>Carpark</th>
			<% @vehicles.each do |vehicle| %>
				<% if vehicle.lots.present? %>
					<th>Lot Number</th>
				<% end %>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% @vehicles.each do |vehicle| %>
			<tr>
				<td><%= link_to vehicle.license_plate, vehicle_path(vehicle) %></td>
				<td><%= vehicle.vehicle_model %></td>
				<td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
				<td><%= link_to 'Delete', vehicle_path(vehicle), method: :delete, data: {confirm: 'Are you sure?' } %></td>
				<% if vehicle.lots.present? %>
					<% vehicle.lots.each do |lot| %>
						<td><%= link_to lot.carpark.location, carpark_path(lot.carpark) %></td>
						<td><%= lot.lotNumber %></td>
					<% end %>
				<% else %>
					<td><%= link_to 'Register', carparks_path %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>