<h2>New Vehicle</h2>
<%= form_with scope: :vehicle, url: vehicles_path, local: true do |form| %>
	<p>
		<%= form.label :license_plate %><br>
		<%= form.text_field :license_plate %>
	</p>
	<p>
		<%= form.label :vehicle_model %><br>
		<%= form.text_field :vehicle_model %>
	</p>
	<p>
		<%= form.submit %>
		<%= link_to 'Back', vehicles_path %>
	</p>
<% end %>